/* место для вашего кода */
.content-section_theme {
  color: #000;
  font-weight: normal;
  font-size: 18px;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 96px 50px 96px;
}

.header-menu-list {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.header-menu-list-item {
  padding-left: 2.5px;
  list-style: circle;
}

.header-menu-list-item-no-bullit {
  padding-right: 0;
  padding-left: 0;
  list-style: none;
}

.header-menu-link {
  text-decoration: underline;
}

.header-menu-link-active {
  text-decoration: none;
}

.header-logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header-logo-image {
  height: 105px;
}

.address {
  min-width: 240px;
  font-style: normal;
  line-height: 24.3px;
}

.header-address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 124% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-title {
  z-index: 2;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
  width: 100%;

}

.text-center {
  margin-top: 20px;
  text-align: center;
}

.text-right {
  margin-top: 20px;
  text-align: right;
}

.last-letter {
  letter-spacing: normal;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover-description-text {
  font-size: 22px;
  text-transform: uppercase;
}

/*Задаем расстояние между словами -> по макету в строке идут расстояния 90-80-110-80-90-80% .
Соответственно для всей строки задаем расстояние 22px*80%=17.6px
Далее задаем расстояние 22px*90%=19.8px
Далее задаем расстояние 22px*110%=24.2px*/

.common-space {
  word-spacing: 17.6px;
}

.space-ninety {
  word-spacing: 19.8px;
}

.space-onehundred-ten {
  word-spacing: 24.2;
}

.cover-description-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 0 24px;
}

.section-header {
  display: block;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-header {
  height: 47px;
  margin-left: 40px;
}

.lots-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
  list-style: none;
}

.lots-card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 162% 100%;
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 162% 100%;
}

.card-type-picture {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 168% 100%;
}

.card-link {
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card {
  height: 100%;
}

.card-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.lots-look-more-link {
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 120px 24px 0 24px;
}

.about-logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-content: center ;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 120px;
  padding: 63px 46px;
  background-color: #000;
}

.about-header {
  margin-top: 136px;
  margin-bottom: 100px;
}

.about-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.first-paragraph {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  margin-top: 180px;
  padding: 0 50px;
}

.footer-menu-list {
  justify-self: center;
  text-align: center;
}

.footer-menu-list-item {
  list-style: none;
}

.footer-menu-link {
  text-decoration: underline;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  justify-self: end;
  justify-content: flex-end;
  gap: 48px;
  text-align: center;
}

.footer-social-list-item {
  list-style: none;
}

.footer-social-icon {
  width: 48px;
  height: 48px;
}
